@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
    --font-display: "Oswald", "sans-serif";
    --font-sans: "Open Sans", "ui-sans-serif", "system-ui", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@theme {
    --color-neutral-50: #f7f7f7;
    --color-neutral-100: #eeeeee;
    --color-neutral-200: #e0e0e0;
    --color-neutral-300: #cacaca;
    --color-neutral-400: #b1b1b1;
    --color-neutral-500: #999999;
    --color-neutral-600: #7f7f7f;
    --color-neutral-700: #676767;
    --color-neutral-800: #545454;
    --color-neutral-900: #464646;
    --color-neutral-950: #282828;

    --color-primary-50: #f3f1ff;
    --color-primary-100: #e9e5ff;
    --color-primary-200: #d5cfff;
    --color-primary-300: #b7a9ff;
    --color-primary-400: #9478ff;
    --color-primary-500: #7341ff;
    --color-primary-600: #631bff;
    --color-primary-700: #611bf8;
    --color-primary-800: #4607d0;
    --color-primary-900: #3c08aa;
    --color-primary-950: #220174;
    --color-primary: #611bf8;
}

@theme {
    --text-xs: 0.75rem;
    --text-xs--line-height: 1.2rem;

    --text-sm: 0.875rem;
    --text-sm--line-height: 1.3125rem;

    --text-base: 1rem;
    --text-base--line-height: 1.6rem;

    --text-lg: 1.125rem;
    --text-lg--line-height: 1.6875rem;

    --text-xl: 1.25rem;
    --text-xl--line-height: 1.75rem;

    --text-2xl: 1.5rem;
    --text-2xl--line-height: 1.95rem;

    --text-3xl: 1.875rem;
    --text-3xl--line-height: 2.25rem;

    --text-4xl: 2.25rem;
    --text-4xl--line-height: 2.5875rem;

    --text-5xl: 3rem;
    --text-5xl--line-height: 3.3rem;

    --text-6xl: 3.75rem;
    --text-6xl--line-height: 4.125rem;

    --text-7xl: 4.5rem;
    --text-7xl--line-height: 4.725rem;

    --text-8xl: 6rem;
    --text-8xl--line-height: 6.3rem;

    --text-9xl: 8rem;
    --text-9xl--line-height: 8.4rem;

    --text-tiny: 0.625rem;
    --text-tiny--line-height: 1.5rem;
    --text-tiny--letter-spacing: 0.125rem;
    --text-tiny--font-weight: 500;
}